ControleNutricionalClient/Service References/ServiceGrupo/SeviceGrupo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50916/SeviceGrupo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControleNutricionalService.Models" />
  <xs:element name="findall">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ControleNutricionalService.Models" minOccurs="0" name="findallResult" nillable="true" type="q1:ArrayOfGrupo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>