ControleNutricionalClient/Service References/ServiceAlimentoRefeicao/ServiceAlimentoRefeicao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAlimentoRefeicao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50916/ServiceAlimentoRefeicao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50916/ServiceAlimentoRefeicao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50916/ServiceAlimentoRefeicao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ControleNutricionalService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAlimentoRefeicao_findall_InputMessage">
    <wsdl:part name="parameters" element="tns:findall" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_findall_OutputMessage">
    <wsdl:part name="parameters" element="tns:findallResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_create_InputMessage">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_create_OutputMessage">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_edit_InputMessage">
    <wsdl:part name="parameters" element="tns:edit" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:editResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IServiceAlimentoRefeicao_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAlimentoRefeicao">
    <wsdl:operation name="findall">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/findall" message="tns:IServiceAlimentoRefeicao_findall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/findallResponse" message="tns:IServiceAlimentoRefeicao_findall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/find" message="tns:IServiceAlimentoRefeicao_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/findResponse" message="tns:IServiceAlimentoRefeicao_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/create" message="tns:IServiceAlimentoRefeicao_create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/createResponse" message="tns:IServiceAlimentoRefeicao_create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/edit" message="tns:IServiceAlimentoRefeicao_edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/editResponse" message="tns:IServiceAlimentoRefeicao_edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/delete" message="tns:IServiceAlimentoRefeicao_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAlimentoRefeicao/deleteResponse" message="tns:IServiceAlimentoRefeicao_delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAlimentoRefeicao" type="tns:IServiceAlimentoRefeicao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findall">
      <soap:operation soapAction="http://tempuri.org/IServiceAlimentoRefeicao/findall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IServiceAlimentoRefeicao/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/IServiceAlimentoRefeicao/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="edit">
      <soap:operation soapAction="http://tempuri.org/IServiceAlimentoRefeicao/edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IServiceAlimentoRefeicao/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAlimentoRefeicao">
    <wsdl:port name="BasicHttpBinding_IServiceAlimentoRefeicao" binding="tns:BasicHttpBinding_IServiceAlimentoRefeicao">
      <soap:address location="http://localhost:50916/ServiceAlimentoRefeicao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>